
/****** Object:  Trigger [SaldosInventario]    Script Date: 01/31/2009 16:11:42 ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO


alter TRIGGER [SaldosInventario]
ON [dbo].[T_ItensInventario]
AFTER INSERT
AS

BEGIN

      SET NOCOUNT ON
      INSERT INTO T_Saldos
                  ( COD_EMP,COD_PRODUTO,DATA_CAD,DATA_MOV, E_S, OPERADOR,
                    QTDE,HISTORICO,PCO_CUSTO,PCO_VENDA,Codigo,Tipo_movimento ) 
      SELECT        '001',INSERTED.COD_PRODUTO,INSERTED.DATA_CAD,INSERTED.DATA_MOV,'E',
                    INSERTED.OPERADOR,INSERTED.Diferenca,'INVENTARIO Nº',
                    INSERTED.Pco_Venda,T_PRODUTOS.PCO_VENDA,INSERTED.SEQINVENTARIO,'ENTRADA DE INVENTARIO 1 '   
      FROM INSERTED INNER JOIN T_PRODUTOS
      ON INSERTED.COD_PRODUTO = T_PRODUTOS.CODIGO and T_produtos.Tipo_Produto<>'1' 
      WHERE INSERTED.Diferenca > 0 and INSERTED.Saldo > 0
      SET NOCOUNT OFF

      SET NOCOUNT ON
      INSERT INTO T_Saldos
                  ( COD_EMP,COD_PRODUTO,DATA_CAD,DATA_MOV, E_S, OPERADOR,
                    QTDE,HISTORICO,PCO_CUSTO,PCO_VENDA,Codigo,Tipo_movimento ) 
      SELECT        '001',INSERTED.COD_PRODUTO,INSERTED.DATA_CAD,INSERTED.DATA_MOV,'E',
                    INSERTED.OPERADOR,INSERTED.Qtde_Inventario,'INVENTARIO Nº',
                    INSERTED.Pco_Venda,T_PRODUTOS.PCO_VENDA,INSERTED.SEQINVENTARIO,'ENTRADA DE INVENTARIO 2 '   
      FROM INSERTED INNER JOIN T_PRODUTOS
      ON INSERTED.COD_PRODUTO = T_PRODUTOS.CODIGO and T_produtos.Tipo_Produto<>'1' 
      WHERE INSERTED.Diferenca >0 and INSERTED.Saldo < 0
      SET NOCOUNT OFF

   
      SET NOCOUNT ON
      INSERT INTO T_Saldos
                  ( COD_EMP,COD_PRODUTO,DATA_CAD,DATA_MOV, E_S, OPERADOR,
                    QTDE,HISTORICO,PCO_CUSTO,PCO_VENDA,codigo,Tipo_Movimento ) 
      SELECT        '001',INSERTED.COD_PRODUTO,INSERTED.DATA_CAD,INSERTED.DATA_MOV,'S',
                    INSERTED.OPERADOR,(INSERTED.Diferenca)*-1,'INVENTARIO  Nº',
                    T_PRODUTOS.PCO_COMPRA,INSERTED.PCO_VENDA,INSERTED.SeqInventario,'SAIDA DE INVENTARIO'   
      FROM INSERTED INNER JOIN T_PRODUTOS
      ON INSERTED.COD_PRODUTO = T_PRODUTOS.CODIGO and T_produtos.Tipo_Produto<>'1'
      WHERE INSERTED.Diferenca<0
      SET NOCOUNT OFF
END




