*.exe
*.EXE
*.Exe
*.dll
*.dof
*.dsk
*.dc?il
*.dcu
*.cfg
*.pdb
*.cfb
*.local
*.identcache
*.rsp
*.tgs
*.tgw
*.~*
*.ddp
*.bak
*.bat
*.Bat
*.BAT
*.rar
*.zip
*.ini
*.fdb
*.fbk
*.xml
*.map
*.db
*.htm
*.RDA
*.scp
*.ini
*.Ini
*.txt
*.Txt
*.TXT
*.tec
*.Tec
*.TEC
*.drc
cxProp*
BackUp/
Enviar/
Config/
Fotos/
Receber/
Figuras/
Logs/
Temp/
_history/
DCUs/
Identifid/
Programa/
Integrinidade Referencial/
ModelSupport_Simples/
out/
